dsl/DSL_Vulnerability_Check_Agent.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: DSL Vulnerability Check Agent
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1776928070641-source-1776769904914-target
      source: '1776928070641'
      sourceHandle: source
      target: '1776769904914'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1775802276626-source-1776950745188-target
      source: '1775802276626'
      sourceHandle: source
      target: '1776950745188'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 1776950745188-source-1776928070641-target
      source: '1776950745188'
      sourceHandle: source
      target: '1776928070641'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - allowed_file_extensions:
          - .yml
          - .yaml
          allowed_file_types:
          - custom
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: dsl_file
          max_length: 48
          options: []
          required: true
          type: file
          variable: dsl_file
      height: 89
      id: '1775802276626'
      position:
        x: -535.6018395590758
        y: -201.71296956616712
      positionAbsolute:
        x: -535.6018395590758
        y: -201.71296956616712
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1776928070641'
          - text
          value_type: string
          variable: result
        selected: false
        title: End
        type: end
      height: 90
      id: '1776769904914'
      position:
        x: 437.07608586072024
        y: -201.71296956616712
      positionAbsolute:
        x: 437.07608586072024
        y: -201.71296956616712
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: c55bc8ff-49c1-4033-a82d-697254a733b6
          role: system
          text: 'ROLE: Your task is to perform a detailed security and functional
            validation of the provided workflow file. - {{#1776950745188.body#}}


            MANDATORY INSTRUCTIONS: (STRICT)


            1. Source of Truth - Use only the provided DSL text. If a parameter is
            not explicitly present, treat it as non-existent.

            2. Zero Inference - Do not assume any default Dify behavior unless it
            is explicitly defined in the DSL.

            3. Exhaustive Coverage - Analyze every node in the nodes array and every
            edge in the edges array.

            4. No Hallucination - If a value, validation, or limit is missing, explicitly
            state "NOT DEFINED". Do not infer or create placeholder values.


            AUDIT SCOPE

            Input/Files: Schema validation, data types, and upload limits.

            Linguistic: Missing EN/JP translations in labels or hardcoded prompt strings.

            Resiliency: Missing error branches or generic/unhelpful error messages.

            Security: Prompt injection risks (direct variable usage) and lack of system
            guardrails.


            OUTPUT FORMAT

            Provide a single, clean Markdown table using the structure below. Group
            findings by Node.

            Node (Name/ID),Type,Category,Risk Level,Finding & Recommendation

            Example Node12345,llm,Security,High,Finding: User input {{query}} is inserted
            without sanitization.Fix: Add a system instruction block to delimit user
            input.

            File Picker67890,input,Validation,Medium,"Finding: max_size is defined,
            but allowed_file_types is N/A.Fix: Restrict to specific extensions (e.g.,
            .pdf, .docx)."

            Welcome Msg55432,answer,Localization,Low,"Finding: Japanese translation
            missing for ""Hello"".Fix: Add ja_JP literal to the node."


            RISK SCALE:

            High: Security vulnerability or critical logic failure (e.g., Prompt Injection,
            No Error Handling).

            Medium: Missing functional constraints (e.g., no character limits, partial
            translations).

            Low: Optimization or UI/UX polish (e.g., minor typo, generic error message).


            EXECUTIVE RISK SUMMARY TABLE

            Severity Total Findings Affected Nodes

            HIGH (Critical)[Count][Node Name]

            MEDIUM (Warning)[Count][Node Name]

            LOW (Optimization)[Count][Node Name] '
        - id: 5c49e040-4c44-45e2-a153-fe8992f4109f
          role: user
          text: 'Here is the DSL file to audit: {{#1776950745188.body#}}'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector:
            - '1776950745188'
            - files
          enabled: true
      height: 89
      id: '1776928070641'
      position:
        x: 110.16572064550797
        y: -201.71296956616712
      positionAbsolute:
        x: 110.16572064550797
        y: -201.71296956616712
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP Request
        type: http-request
        url: '{{#1775802276626.dsl_file.url#}}'
        variables: []
      height: 125
      id: '1776950745188'
      position:
        x: -208.00354913844703
        y: -201.71296956616712
      positionAbsolute:
        x: -208.00354913844703
        y: -201.71296956616712
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 404.52087935665145
      y: 251.16042063947205
      zoom: 0.3705404173202917
