dsl/excel_extractor_V3_WF.yml
app:
  description: extract required details from excel file.
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: excel extractor V3 (WF)
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: sawyer-shi/file_converter:0.0.2@2268454bf73a9aadbdb2c7576e1197ba1d479da1ce1950b48dafd3365d2f9615
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables:
  - description: fall back message if sheet is not found
    id: c86bb19d-5bc3-48f8-9aad-3695cc804df7
    name: fall_back_message
    selector:
    - env
    - fall_back_message
    value: sheet not found
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: list-operator
        targetType: document-extractor
      id: 1776155619214-source-1776158967276-target
      selected: false
      source: '1776155619214'
      sourceHandle: source
      target: '1776158967276'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: 1776247459644-true-1776247527015-target
      source: '1776247459644'
      sourceHandle: 'true'
      target: '1776247527015'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1776247459644-false-1776161188600-target
      source: '1776247459644'
      sourceHandle: 'false'
      target: '1776161188600'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: code
      id: 1776161188600-source-1776249025771-target
      source: '1776161188600'
      sourceHandle: source
      target: '1776249025771'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1776249025771-source-1776249609583-target
      source: '1776249025771'
      sourceHandle: source
      target: '1776249609583'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: list-operator
      id: 1776249609583-true-1776155619214-target
      source: '1776249609583'
      sourceHandle: 'true'
      target: '1776155619214'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: 1776249609583-false-1776249687665-target
      source: '1776249609583'
      sourceHandle: 'false'
      target: '1776249687665'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: document-extractor
        targetType: llm
      id: 1776158967276-source-1776162110411-target
      source: '1776158967276'
      sourceHandle: source
      target: '1776162110411'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1776117453924-source-1776285834699-target
      source: '1776117453924'
      sourceHandle: source
      target: '1776285834699'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1776285834699-source-1777289909903-target
      source: '1776285834699'
      sourceHandle: source
      target: '1777289909903'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1777289909903-source-1776247459644-target
      source: '1777289909903'
      sourceHandle: source
      target: '1776247459644'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1776162110411-source-1777361376042-target
      source: '1776162110411'
      sourceHandle: source
      target: '1777361376042'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1777361376042-source-1776117489427-target
      source: '1777361376042'
      sourceHandle: source
      target: '1776117489427'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: true
        title: Start
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: xl_file
          max_length: 5
          options: []
          required: true
          type: file-list
          variable: xl_file
        - label: sheet_name
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: sheet_name
        - label: list_of_column
          max_length: 1000
          options: []
          required: true
          type: paragraph
          variable: list_of_column
        - label: number_of_rows
          max_length: 48
          options: []
          required: true
          type: number
          variable: number_of_rows
        - label: lang
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: lang
        - label: max_file_size
          max_length: 48
          options: []
          required: true
          type: number
          variable: max_file_size
      height: 219
      id: '1776117453924'
      position:
        x: -876.6296724735505
        y: -1264.9180836792034
      positionAbsolute:
        x: -876.6296724735505
        y: -1264.9180836792034
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1777361376042'
          - result
          value_type: string
          variable: text
        - value_selector:
          - '1777361376042'
          - is_error
          value_type: string
          variable: error
        selected: false
        title: End
        type: end
      height: 116
      id: '1776117489427'
      position:
        x: 2446.660110477635
        y: -1153.4149228101176
      positionAbsolute:
        x: 2446.660110477635
        y: -1153.4149228101176
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        extract_by:
          enabled: false
          serial: '2'
        filter_by:
          conditions:
          - comparison_operator: is
            key: name
            value: '{{#1777289909903.new_filename#}}'
          enabled: true
        item_var_type: file
        limit:
          enabled: false
          size: 10
        order_by:
          enabled: false
          key: ''
          value: asc
        selected: false
        title: List Operator
        type: list-operator
        var_type: array[file]
        variable:
        - '1776161188600'
        - files
      height: 94
      id: '1776155619214'
      position:
        x: 1337.417720119142
        y: -1153.4149228101176
      positionAbsolute:
        x: 1337.417720119142
        y: -1153.4149228101176
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_array_file: true
        selected: false
        title: Doc Extractor
        type: document-extractor
        variable_selector:
        - '1776155619214'
        - result
      height: 94
      id: '1776158967276'
      position:
        x: 1615.8755959310827
        y: -1153.4149228101176
      positionAbsolute:
        x: 1615.8755959310827
        y: -1153.4149228101176
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Upload the Excel file you want to convert to CSV format
            ja_JP: Upload the Excel file you want to convert to CSV format
            pt_BR: Upload the Excel file you want to convert to CSV format
            zh_Hans: 上传您想要转换为CSV格式的Excel文件
          label:
            en_US: Input Excel File
            ja_JP: Input Excel File
            pt_BR: Input Excel File
            zh_Hans: 输入Excel文件
          llm_description: ''
          max: null
          min: null
          name: input_file
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: file
        params:
          input_file: ''
        provider_id: sawyer-shi/file_converter/file_converter
        provider_name: sawyer-shi/file_converter/file_converter
        provider_type: builtin
        selected: false
        title: Excel to CSV Converter
        tool_configurations: {}
        tool_description: Convert Excel (.xlsx, .xls) files to CSV format. Each worksheet
          will be converted to a separate CSV file with automatic filename sanitization.
        tool_label: Excel to CSV Converter
        tool_name: excel_2_csv
        tool_node_version: '2'
        tool_parameters:
          input_file:
            type: variable
            value:
            - '1776117453924'
            - xl_file
        type: tool
      height: 53
      id: '1776161188600'
      position:
        x: 497.9322241082233
        y: -1183.9253850568507
      positionAbsolute:
        x: 497.9322241082233
        y: -1183.9253850568507
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1776158967276'
          - text
        desc: ''
        model:
          completion_params:
            temperature: 0.8
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: 6c9a1efa-e4bf-4a4c-a2bd-676ba0b0e1b7
          role: system
          text: "### ROLE\nNote : strict Note: You are a Precise Data Extractor. Output\
            \ only pure dictionary i will pass the output to python code and i will\
            \ use eval() or dict() to convert into python dictionary i wll use it\
            \ in code, nothing else.\n\n### INPUTS\n- File Content: {{#context#}}\n\
            - Columns to Extract: {{#1776117453924.list_of_column#}}\n- Number of\
            \ Rows: {{#1776117453924.number_of_rows#}}   (if not specified or empty,\
            \ extract all)\n\n### EXTRACTION RULES\n- Skip any row where ALL requested\
            \ columns are empty or \"0\".\n- Empty cells must be returned as \"\"\
            \ (empty string). Never use \"N/A\", \"None\", or any text.\n- Extract\
            \ only the exact columns specified.\n\n### TASK\nExtract the data and\
            \ return it strictly in this dictionary format strictly Note: no backslash,\
            \ no markdown, only key value pairs:\nexample dictionary below i will\
            \ pass this to python code directoy and i will use eval():\n{ \"data\"\
            : [{\"Column Name 1\": \"value1\",\"Column Name 2\": \"value2\"}]}\n\n\
            ### CONSTRAINTS\n- Return ONLY dictionary. No markdown, no code blocks,\
            \ no explanations, no extra text. \n- If no data is found or File Content\
            \ is empty, return exactly: {\"error\": \"Data Not Found\"}\n- Use exact\
            \ column names as they appear in the header (case sensitive).\n- Respect\
            \ the Number of Rows if specified.\n- if any column having date strcly\
            \ the value should be date only, should not include time inside of it.\n\
            Now extract the data."
        - id: 31e06cf2-129b-4b4a-a955-717535d55d6f
          role: user
          text: you are an helpful assistant
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1776162110411'
      position:
        x: 1893.1839201816788
        y: -1153.4149228101176
      positionAbsolute:
        x: 1893.1839201816788
        y: -1153.4149228101176
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: b62aed20-54aa-4815-8af5-433f893b5ded
            value: 'false'
            varType: string
            variable_selector:
            - '1777289909903'
            - valid
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 125
      id: '1776247459644'
      position:
        x: -47.94828468105027
        y: -1264.9180836792034
      positionAbsolute:
        x: -47.94828468105027
        y: -1264.9180836792034
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1777289909903'
          - result
          value_type: string
          variable: result
        - value_selector:
          - '1777289909903'
          - is_error
          value_type: string
          variable: is_error
        selected: false
        title: End 2
        type: end
      height: 116
      id: '1776247527015'
      position:
        x: 229.25540837889287
        y: -1312.4962697979392
      positionAbsolute:
        x: 229.25540837889287
        y: -1312.4962697979392
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(sheet_data: dict, new_filename: str,sheet_name: str, lang:\
          \ str):\n    # Ensure we are looking at the 'files' list\n    # We check\
          \ if arg1 is actually the list itself or the parent dict\n    if isinstance(sheet_data,\
          \ list):\n        files_list = sheet_data\n    else:\n        files_list\
          \ = sheet_data.get(\"files\", [])\n    fall_back_message = sheet_name +\
          \ (\" Not existed\" if lang.lower() == \"en\" else \" 提供されたExcelには存在しませんでした。\"\
          )\n    target_filename = new_filename.strip()\n    \n    # Check if any\
          \ file matches the target name\n    # Added a .strip() to handle potential\
          \ whitespace issues in filenames\n    found_file = next(\n        (f for\
          \ f in files_list if isinstance(f, dict) and f.get(\"filename\") == target_filename),\
          \ \n        None\n    )\n\n    file_exists = found_file is None\n\n    return\
          \ {\n        \"exists\": str(file_exists).lower(),\n        \"found_filename\"\
          : found_file.get(\"filename\") if found_file else fall_back_message,\n \
          \       \"file_url\": str(found_file.get(\"url\")) if found_file else \"\
          None\",\n        \"error\" : found_file.get(\"filename\") if found_file\
          \ else fall_back_message,\n        \"sheet_name\" : sheet_name\n    }"
        code_language: python3
        desc: ''
        outputs:
          error:
            children: null
            type: string
          exists:
            children: null
            type: string
          file_url:
            children: null
            type: string
          found_filename:
            children: null
            type: string
          sheet_name:
            children: null
            type: string
        selected: false
        title: sheet validator
        type: code
        variables:
        - value_selector:
          - '1776161188600'
          - files
          value_type: array[file]
          variable: sheet_data
        - value_selector:
          - '1777289909903'
          - new_filename
          value_type: string
          variable: new_filename
        - value_selector:
          - '1776117453924'
          - sheet_name
          value_type: string
          variable: sheet_name
        - value_selector:
          - '1776117453924'
          - lang
          value_type: string
          variable: lang
      height: 53
      id: '1776249025771'
      position:
        x: 776.9369972500203
        y: -1183.9253850568507
      positionAbsolute:
        x: 776.9369972500203
        y: -1183.9253850568507
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 1b6ed187-ef7f-4b87-8ac2-661d7bd63c7b
            value: 'false'
            varType: string
            variable_selector:
            - '1776249025771'
            - exists
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE 2
        type: if-else
      height: 125
      id: '1776249609583'
      position:
        x: 1055.5013322235372
        y: -1183.9253850568507
      positionAbsolute:
        x: 1055.5013322235372
        y: -1183.9253850568507
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1776249025771'
          - error
          value_type: string
          variable: result
        - value_selector:
          - '1776249025771'
          - exists
          value_type: string
          variable: is_error
        selected: false
        title: End 3
        type: end
      height: 116
      id: '1776249687665'
      position:
        x: 1337.417720119142
        y: -1031.0130410567906
      positionAbsolute:
        x: 1337.417720119142
        y: -1031.0130410567906
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main():\n    return {\n        \"static_dict\": {\n           \
          \ \"upload_file_message\": {\n                \"en\": \"File is Missing\"\
          ,\n                \"jp\": \"ファイルが見つかりません\"\n            },\n          \
          \  \"upload_file_size_error_message\": {\n                \"en\": \"please\
          \ provide a file less than 10mb\",\n                \"jp\": \"10MB未満のファイルを提供してください\"\
          \n            },\n            \"upload_file_type_error_message\": {\n  \
          \              \"en\": \"Please Provide Excel File\",\n                \"\
          jp\": \"Excelファイルを提供してください\"\n            },\n            \"upload_invalid_language_message\"\
          : {\n                \"en\": \"Please select language en or jp. 言語は en または\
          \ jp を選択してください\",\n                \"jp\": \"言語は en または jp を選択してください\"\n\
          \            },\n            \"file_not_exist_message\": {\n           \
          \     \"en\": \"Not existed\",\n                \"jp\": \"提供されたExcelには存在しませんでした。\"\
          \n            }\n        }\n    }"
        code_language: python3
        desc: ''
        outputs:
          static_dict:
            children: null
            type: object
        selected: false
        title: static_data_variable
        type: code
        variables: []
      height: 53
      id: '1776285834699'
      position:
        x: -590.3908284291667
        y: -1264.9180836792034
      positionAbsolute:
        x: -590.3908284291667
        y: -1264.9180836792034
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(xl_file: list, sheet_name: str, lang: str, static_data: dict,\
          \ max_file_size: int) -> dict:\n    # 1. Constants & Input Normalization\n\
          \    MAX_SIZE = max_file_size * 1024 * 1024\n    lang = lang.lower().strip()\n\
          \    \n    # Template for error responses to avoid repetition\n    def error_res(msg,\
          \ filename=None):\n        return {\n            \"valid\": \"false\",\n\
          \            \"result\": msg,\n            \"new_filename\": \"None\",\n\
          \            \"file_name\": filename,\n            \"is_error\":\"true\"\
          \n        }\n\n    # 2. Language Validation\n    # Use 'get' to safely check\
          \ if the language exists in the static_data keys\n    if lang not in static_data.get(\"\
          upload_invalid_language_message\", {}):\n        # Fallback to English for\
          \ the error message itself\n        err = static_data[\"upload_invalid_language_message\"\
          ].get(\"en\", \"Invalid Language\")\n        return error_res(err)\n\n \
          \   # 3. File Presence Check\n    if not xl_file:\n        return error_res(static_data[\"\
          upload_file_message\"][lang])\n\n    file_obj = xl_file[0]\n    # Use .get()\
          \ with a single fallback chain\n    original = file_obj.get(\"filename\"\
          ) or file_obj.get(\"name\") or \"unknown.xlsx\"\n    \n    # 4. File Type\
          \ Validation\n    # Sets provide O(1) lookup time\n    if file_obj.get(\"\
          extension\", \"\").lower() not in {\".xlsx\", \".xls\"}:\n        return\
          \ error_res(static_data[\"upload_file_type_error_message\"][lang], original)\n\
          \n    # 5. File Size Validation\n    if file_obj.get(\"size\", 0) > MAX_SIZE:\n\
          \        return error_res(static_data[\"upload_file_size_error_message\"\
          ][lang], original)\n\n    # 6. Success Logic\n    # Optimized string splitting\
          \ and naming\n    base_name = original.rsplit(\".\", 1)[0]\n    new_filename\
          \ = f\"{base_name}_{sheet_name.strip()}.csv\"\n\n    return {\n        \"\
          valid\": \"true\",\n        \"result\": \"None\",\n        \"new_filename\"\
          : new_filename,\n        \"file_name\": original,\n        \"is_error\"\
          : \"false\"\n    }"
        code_language: python3
        desc: ''
        outputs:
          file_name:
            children: null
            type: string
          is_error:
            children: null
            type: string
          new_filename:
            children: null
            type: string
          result:
            children: null
            type: string
          valid:
            children: null
            type: string
        selected: false
        title: File_name_extractor
        type: code
        variables:
        - value_selector:
          - '1776117453924'
          - xl_file
          value_type: array[file]
          variable: xl_file
        - value_selector:
          - '1776117453924'
          - sheet_name
          value_type: string
          variable: sheet_name
        - value_selector:
          - '1776117453924'
          - lang
          value_type: string
          variable: lang
        - value_selector:
          - '1776285834699'
          - static_dict
          value_type: object
          variable: static_data
        - value_selector:
          - '1776117453924'
          - max_file_size
          value_type: number
          variable: max_file_size
      height: 53
      id: '1777289909903'
      position:
        x: -317.3736330047658
        y: -1264.9180836792034
      positionAbsolute:
        x: -317.3736330047658
        y: -1264.9180836792034
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(extracted_file: str) -> dict:\n    return {\n        \"result\"\
          : str(extracted_file.replace('\"', \"\")),\n        \"is_error\" : \"false\"\
          \n    }"
        code_language: python3
        desc: ''
        outputs:
          is_error:
            children: null
            type: string
          result:
            children: null
            type: string
        selected: false
        title: string converter
        type: code
        variables:
        - value_selector:
          - '1776162110411'
          - text
          value_type: string
          variable: extracted_file
      height: 53
      id: '1777361376042'
      position:
        x: 2170.449203537003
        y: -1153.4149228101176
      positionAbsolute:
        x: 2170.449203537003
        y: -1153.4149228101176
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -2435.7352976186844
      y: 1619.3263680481298
      zoom: 1.1534065671816653
