dsl/ExtractTableRows.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Extract-Table-Rows
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1777893235508-source-1777893295262-target
      source: '1777893235508'
      sourceHandle: source
      target: '1777893295262'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1777893295262--1777893451124-target
      source: '1777893295262'
      sourceHandle: source
      target: '1777893451124'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: file
          max_length: 5
          options: []
          required: true
          type: text-input
          variable: file
      height: 89
      id: '1777893235508'
      position:
        x: 25.187792184369357
        y: 282
      positionAbsolute:
        x: 25.187792184369357
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import pandas as pd\nimport io\n\ndef main(file: bytes) -> dict:\n\
          \    df = pd.read_excel(io.BytesIO(file), sheet_name=\"Form 3\", header=None)\n\
          \    \n    # Find header row containing \"Category 1\"\n    header_row =\
          \ None\n    for idx, row in df.iterrows():\n        if \"Category 1\" in\
          \ str(row.values):\n            header_row = idx\n            break\n  \
          \  \n    if header_row is None:\n        return {\"rows_data\": {\"rows\"\
          : []}}\n    \n    df_table = pd.read_excel(io.BytesIO(file), sheet_name=\"\
          Form 3\", header=header_row)\n    \n    # Filter to only required columns\
          \ and convert NaN values\n    required_cols = [\"Revision/Abolition Category\"\
          , \"Category 1\", \"Category 2\", \n                     \"Holiday Category\"\
          , \"Allowance Amount\"]\n    existing_cols = [c for c in required_cols if\
          \ c in df_table.columns]\n    df_table = df_table[existing_cols].fillna(\"\
          \")\n    \n    # Clean the allowance amount\n    def clean_amount(val):\n\
          \        if pd.isna(val) or val == \"\":\n            return None\n    \
          \    if str(val).strip().lower() == \"actual expenses\":\n            return\
          \ None\n        return float(val)\n    \n    if \"Allowance Amount\" in\
          \ df_table.columns:\n        df_table[\"Allowance Amount\"] = df_table[\"\
          Allowance Amount\"].apply(clean_amount)\n    \n    return {\"rows_data\"\
          : {\"rows\": df_table.to_dict(orient=\"records\")}}"
        code_language: python3
        desc: ''
        outputs:
          rows_data:
            children: null
            type: object
        selected: false
        title: Code
        type: code
        variables:
        - value_selector:
          - '1777893235508'
          - file
          value_type: string
          variable: file
      height: 53
      id: '1777893295262'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1777893295262'
          - rows_data
          value_type: object
          variable: result
        selected: false
        title: End
        type: end
      height: 90
      id: '1777893451124'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 31.65456795568548
      y: -6.923901646794576
      zoom: 1.1029239631772647
