dsl/Validate_Date.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Validate Date
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1777892450776-source-1777892502731-target
      source: '1777892450776'
      sourceHandle: source
      target: '1777892502731'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1777892502731--1777892592012-target
      source: '1777892502731'
      sourceHandle: source
      target: '1777892592012'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: date_string
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: date_string
      height: 89
      id: '1777892450776'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "from datetime import datetime\n\ndef main(date_string: str) -> dict:\n\
          \    if not date_string:\n        return {\"validation_result\": {\"valid\"\
          : False, \"error\": \"Date is missing.\"}}\n    \n    try:\n        dt =\
          \ datetime.strptime(date_string, \"%Y-%m-%d\")\n        today = datetime.today()\n\
          \        if (today - dt).days > 365:\n            return {\"validation_result\"\
          : {\"valid\": False, \"error\": \"Date is older than 1 year.\"}}\n     \
          \   if (dt - today).days > 30:\n            return {\"validation_result\"\
          : {\"valid\": False, \"error\": \"Date is more than 30 days in the future.\"\
          }}\n        return {\"validation_result\": {\"valid\": True, \"error\":\
          \ \"\"}}\n    except:\n        return {\"validation_result\": {\"valid\"\
          : False, \"error\": \"Invalid date format. Use YYYY-MM-DD.\"}}"
        code_language: python3
        desc: ''
        outputs:
          Validation:
            children: null
            type: object
        selected: false
        title: Code
        type: code
        variables:
        - value_selector:
          - '1777892450776'
          - date_string
          value_type: string
          variable: date_string
      height: 53
      id: '1777892502731'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1777892502731'
          - Validation
          value_type: object
          variable: result
        selected: false
        title: End
        type: end
      height: 90
      id: '1777892592012'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 304.5781873076945
      y: -25.231324799407673
      zoom: 0.9530783119985192
