dsl/ValidateSupplierName.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Validate-Supplier-Name
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1777892775904-source-1777892858652-target
      source: '1777892775904'
      sourceHandle: source
      target: '1777892858652'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1777892858652--1777892919916-target
      source: '1777892858652'
      sourceHandle: source
      target: '1777892919916'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: supplier_name
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: supplier_name
        - label: pms_list
          max_length: 48
          options: []
          required: false
          type: text-input
          variable: pms_list
      height: 115
      id: '1777892775904'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(supplier_name: str, pms_list: list = []) -> dict:\n    name\
          \ = (supplier_name or \"\").strip()\n    \n    if not name:\n        return\
          \ {\"validation_result\": {\"valid\": False, \"error\": \"Supplier name\
          \ is missing.\"}}\n    \n    if pms_list and name not in pms_list:\n   \
          \     return {\"validation_result\": {\"valid\": False, \"error\": f\"Supplier\
          \ '{name}' not in approved list.\"}}\n    \n    return {\"validation_result\"\
          : {\"valid\": True, \"error\": \"\"}}"
        code_language: python3
        desc: ''
        outputs:
          validation:
            children: null
            type: object
        selected: false
        title: Code
        type: code
        variables:
        - value_selector:
          - '1777892775904'
          - supplier_name
          value_type: string
          variable: supplier_name
        - value_selector:
          - '1777892775904'
          - pms_list
          value_type: string
          variable: pms_list
      height: 53
      id: '1777892858652'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1777892858652'
          - validation
          value_type: object
          variable: result
        selected: false
        title: End
        type: end
      height: 90
      id: '1777892919916'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 1
